.row {
  display: flex;
  align-items: center;
}

form {
  margin-right: 1rem;
}

.mat-spinner::ng-deep {
  height: 2rem !important;
  width: 2rem !important;

  svg {
    height: 2rem !important;
    width: 2rem !important;
  }
}
