<div class="row">
  <form [formGroup]="form">
    <mat-form-field class="example-full-width">
      <input type="text"
             placeholder="Selecteer een nummer"
             aria-label="Number"
             matInput
             [formControl]="phoneControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let phone of filteredPhones" [value]="phone">
          {{phone}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
